In [88]:
#data Frame是pandas處理二維資料集的方法

import numpy as np
import pandas as pd

from numpy.random import randn

np.random.seed()
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  1.945689  0.695305  0.322598  0.559673
B -0.241412 -0.887265  0.635634 -0.640860
C -1.178463  0.512988  0.433872  0.610378
D  0.857609  0.088929  0.344520  0.856013
E -0.543741  0.320775 -0.633094  0.851019

In [89]:
df['W']

A    1.945689
B   -0.241412
C   -1.178463
D    0.857609
E   -0.543741
Name: W, dtype: float64

In [90]:
type(df['W'])

pandas.core.series.Series

In [91]:
type(df)

pandas.core.frame.DataFrame

In [92]:
df[['W','Z']]

          W         Z
A  1.945689  0.559673
B -0.241412 -0.640860
C -1.178463  0.610378
D  0.857609  0.856013
E -0.543741  0.851019

In [103]:
df['new'] = df['W']+ df['X']
df

          W         X         Y         Z       new
A  1.945689  0.695305  0.322598  0.559673  2.640994
B -0.241412 -0.887265  0.635634 -0.640860 -1.128677
C -1.178463  0.512988  0.433872  0.610378 -0.665476
D  0.857609  0.088929  0.344520  0.856013  0.946538
E -0.543741  0.320775 -0.633094  0.851019 -0.222967

In [105]:
df.drop('new',axis=1,inplace=True)
df

ValueError: labels ['new'] not contained in axis

In [73]:
df.drop('E',inplace=True)

In [74]:
df

          W         X         Y         Z
A  0.104547  0.976238  0.420250 -0.060517
B  0.683041  0.747607 -1.149796  2.885804
C -0.673237 -1.292314  1.453788  1.352012
D  0.171122 -0.209266 -0.282747  1.628826

In [75]:
df.shape

(4, 4)

In [76]:
#ROWS
df.loc['A']

W    0.104547
X    0.976238
Y    0.420250
Z   -0.060517
Name: A, dtype: float64

In [78]:
df.loc[['A','B']]

          W         X         Y         Z
A  0.104547  0.976238  0.420250 -0.060517
B  0.683041  0.747607 -1.149796  2.885804

In [79]:
df.iloc[1]

W    0.683041
X    0.747607
Y   -1.149796
Z    2.885804
Name: B, dtype: float64

In [82]:
df.iloc[[1,2]]

          W         X         Y         Z
B  0.683041  0.747607 -1.149796  2.885804
C -0.673237 -1.292314  1.453788  1.352012

In [83]:
df.loc['B','Y']

-1.1497960138708645

In [85]:
df.loc[['B','C'],['W','X']]

          W         X
B  0.683041  0.747607
C -0.673237 -1.292314