In [7]:
import numpy as np
import pandas as pd

from numpy.random import randn
#Index Level
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.572508  0.079140
   2 -1.023940 -0.075438
   3 -1.693532  0.294963
G2 1 -0.505861 -0.801599
   2 -0.323018  0.273895
   3 -0.704149  2.014841

In [16]:
df.loc['G1'].loc[1]['A']

-0.57250810736198832

In [14]:
df.loc['G1']['A']

1    0.506492
2    0.385662
3    0.366163
Name: A, dtype: float64

In [16]:
df.index.names=['Group','Num']
df

                  A         B
Group Num
G1    1    0.506492  0.317375
      2    0.385662  1.057713
      3    0.366163  1.320825
G2    1   -1.522240 -1.222097
      2   -0.510631  0.218842
      3    1.031692 -0.657401

In [17]:
df.loc['G2'].loc[2]

A   -0.510631
B    0.218842
Name: 2, dtype: float64

In [20]:
df.xs('G1')

            A         B
Num
1    0.506492  0.317375
2    0.385662  1.057713
3    0.366163  1.320825

In [21]:
df.xs(1,level='Num')

              A         B
Group
G1     0.506492  0.317375
G2    -1.522240 -1.222097

In [22]:
df.xs('G1',level='Group')

            A         B
Num
1    0.506492  0.317375
2    0.385662  1.057713
3    0.366163  1.320825